<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.landfilleforms.android.landfille_forms">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/la_sanitation_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities_and_fragments.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities_and_fragments.instantaneous.InstantaneousFormActivity"
            android:label="@string/instantaneous_form_header"
            android:parentActivityName=".activities_and_fragments.LocationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities_and_fragments.instantaneous.InstantaneousDataPagerActivity"
            android:label="@string/instantaenous_data_header"
            android:screenOrientation="portrait"/>
        <!-- android:parentActivityName=".instantaneous.InstantaneousFormActivity"/> -->
        <activity
            android:name=".activities_and_fragments.LocationActivity"
            android:label="@string/location_header"
            android:parentActivityName=".activities_and_fragments.MenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities_and_fragments.TestsActivity"
            android:label="@string/tests_header"
            android:parentActivityName=".activities_and_fragments.LocationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities_and_fragments.ime.ImeFormActivity"
            android:label="@string/ime_form_header"
            android:parentActivityName=".activities_and_fragments.LocationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities_and_fragments.ime.ImeDataPagerActivity"
            android:label="@string/ime_data_header"
            android:screenOrientation="portrait"/>
        <!-- android:parentActivityName=".ime.ImeFormActivity" -->
        <activity
            android:name=".activities_and_fragments.warmspot.WarmSpotFormActivity"
            android:label="@string/warm_spot_form_header"
            android:parentActivityName=".activities_and_fragments.LocationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities_and_fragments.warmspot.WarmSpotDataPagerActivity"
            android:label="@string/warm_spot_data_header"
            android:screenOrientation="portrait"/>
        <!-- android:parentActivityName=".warmspot.WarmSpotFormActivity" -->
        <activity
            android:name=".activities_and_fragments.probe.ProbeFormActivity"
            android:label="@string/probe_form_header"
            android:parentActivityName=".activities_and_fragments.LocationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities_and_fragments.probe.ProbeDataPagerActivity"
            android:label="@string/probe_data_header"
            android:screenOrientation="portrait"/>
        <!-- android:parentActivityName=".probe.ProbeFormActivity" -->
        <activity
            android:name=".activities_and_fragments.integrated.IntegratedFormActivity"
            android:label="@string/integrated_form_header"
            android:parentActivityName=".activities_and_fragments.LocationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities_and_fragments.integrated.IntegratedDataPagerActivity"
            android:label="@string/integrated_data_header"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities_and_fragments.ise.IseFormActivity"
            android:label="@string/ise_form_header"
            android:parentActivityName=".activities_and_fragments.LocationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities_and_fragments.ise.IseDataPagerActivity"
            android:label="@string/ise_data_header"
            android:screenOrientation="portrait"/>
        <!--android:parentActivityName=".probe.ProbeFormActivity"-->
        <activity
            android:name=".activities_and_fragments.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
    </application>

</manifest>